---
import Docker from "@/assets/icons/technologies/docker.svg";
import Nest from "@/assets/icons/technologies/nestjs.svg";
import Next from "@/assets/icons/technologies/nextjs.svg";
import Node from "@/assets/icons/technologies/nodejs.svg";
import PostgreSql from "@/assets/icons/technologies/postgresql.svg";
import React from "@/assets/icons/technologies/react.svg";
import ReactQuery from "@/assets/icons/technologies/reactquery.svg";
// import Sqlite from "@/assets/icons/technologies/sqlite.svg";
import Tailwind from "@/assets/icons/technologies/tailwindcss.svg";
import TypeScript from "@/assets/icons/technologies/typescript.svg";

const technologies = [
  {
    name: "Tailwind",
    Icon: Tailwind,
  },
  {
    name: "React Query",
    Icon: ReactQuery,
  },
  {
    name: "Next",
    Icon: Next,
  },
  {
    name: "React",
    Icon: React,
  },
  {
    name: "TypeScript",
    Icon: TypeScript,
  },
  {
    name: "Node",
    Icon: Node,
  },
  {
    name: "Nest",
    Icon: Nest,
  },
  {
    name: "PostgreSql",
    Icon: PostgreSql,
  },
  {
    name: "Docker",
    Icon: Docker,
  },
] as const;
---

<section class="border-b border-color">
  <div class="max-w-7xl border-color mx-auto h-full">
    <ul
      class="grid grid-cols-3 lg:grid-cols-9 auto-rows-fr border-x border-color"
    >
      {
        technologies.map(({ Icon }) => (
          <li class=" border-ctx border-b lg:border-b-0 [&:not(:last-child)]:border-r [&:nth-last-of-type(-n+3)]:border-b-0 border-color -m-0.5px flex items-center justify-center p-1 md:py-2 lg:aspect-square">
            <Icon width={50} height={50} class="text-white mx-auto" />
          </li>
        ))
      }
    </ul>
  </div>
</section>
