---
import Badge from '../components/Badge.astro';
import SocialInfo from '../components/SocialInfo.astro';
---

<img src="/me.webp" alt="cr_viveros foto" class="rounded-full w-12 h-12 my-2">
<h1 class="text-white text-xl sm:text-3xl lg:text-5xl font-bold flex  flex-row gap-x-4 pb-4 transition-all">
  Hey, soy Cristian 
  <a 
  href="https://www.linkedin.com/in/cristian-viveros-69bab8129"
    target="_blank"
    rel="noopener noreferrer"
    class="flex justify-center items-center">
    <Badge>Disponible para trabajar</Badge>
  </a>
</h1>
<h2 class="text-sm sm:text-xl md:text-2xl opacity-80 text-wrap transition-all">
  -1 Año de experiecia. Ingeniero de Sistemas y Desarrollador Web Full Stack. De Popayán, Colombia
</h2>
<SocialInfo/>