---
import cn from '../lib/utils/cn'

interface Props {
  class?: string;
  id?: string;
}

const { class: className = '', id } = Astro.props
---

<section id={id} class={cn("w-full md:w-[70%] lg:w-[60%] xl:w-[50%] mx-auto", className)}>
  <slot/>
</section>