---
import { BASE_URL } from "astro:env/server";

import Header from "@/components/sections/Header.astro";
import Cursor from "@/components/ui/Cursor.astro";
import Footer from "@/components/sections/Footer.astro";

interface Props {
  title?: string;
  canonical?: string;
  description?: string;
}

const { title, canonical, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Información básica SEO -->
    <title>Cristian Viveros | {title || "Desarrollador Web"}</title>
    <meta
      name="description"
      content={description ||
        "Portafolio profesional de cristian viveros. Desarrollador web especializado en javascript, React, NextJS, NestJS, Astro."}
    />
    <meta
      name="keywords"
      content="desarrollador web, portafolio, frontend, backend, javascript, react, nodejs, nextjs, typescript, tailwindcss, postgresql, nestjs, docker, github, linkedin, cristian viveros"
    />
    <meta name="author" content="Cristian Viveros" />
    <link rel="canonical" href={BASE_URL + `/${canonical}`} />

    <!-- Robots -->
    <meta name="robots" content="index, follow" />

    <!-- Idioma y región -->
    <meta http-equiv="content-language" content="es" />
    <meta name="geo.region" content="Colombia: ES, MX, AR" />

    <!-- HTML Meta Tags -->
    <title>Cristian Viveros | Desarrollador Web</title>
    <meta
      name="description"
      content="Portafolio profesional de cristian viveros. Desarrollador web especializado en javascript, React, NextJS, NestJS, Astro."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://crv-portfolio.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Cristian Viveros | Desarrollador Web" />
    <meta
      property="og:description"
      content="Portafolio profesional de cristian viveros. Desarrollador web especializado en javascript, React, NextJS, NestJS, Astro."
    />
    <meta property="og:image" content="/og-image.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="crv-portfolio.vercel.app" />
    <meta property="twitter:url" content="https://crv-portfolio.vercel.app/" />
    <meta name="twitter:title" content="Cristian Viveros | Desarrollador Web" />
    <meta
      name="twitter:description"
      content="Portafolio profesional de cristian viveros. Desarrollador web especializado en javascript, React, NextJS, NestJS, Astro."
    />
    <meta name="twitter:image" content="/og-image.png" />
  </head>
  <body>
    <Cursor />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --selection-color: #fff;
    --selection-bg-color: #000;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html,
  body {
    font-family: "Geist", sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    @apply dark:bg-dark-bg-200 bg-light-bg-100;
  }

  html.dark {
    --selection-color: #000;
    --selection-bg-color: #fff;
  }

  .border-color {
    @apply dark:border-dark-bg-300 border-light-bg-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply dark:text-dark-text-100 text-light-text-100;
  }

  .text-color {
    @apply dark:text-dark-text-100 text-light-text-100;
  }

  .invert-text-color {
    @apply dark:text-light-text-100 text-dark-text-100;
  }

  ::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
  }

  ::-webkit-selection {
    background-color: #fff;
    color: #000;
  }

  .truncate-text {
    display: -webkit-box;
    /* Número máximo de líneas visibles */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega "..." al final si el texto se corta */
  }

  .truncate-2 {
    -webkit-line-clamp: 2;
  }

  .truncate-5 {
    -webkit-line-clamp: 5;
  }
</style>
