---
import { replaceWithSpan } from "@/lib/utils";
import { Image } from "astro:assets";

interface Props {
  title: string;
  slug: string;
  image: string;
  shortDescription: string;
}

const { title, slug, image, shortDescription } = Astro.props;
---

<a
  class="flex flex-col justify-center p-5 space-y-4 cursor-animated hover:dark:bg-dark-bg-300 hover:bg-light-bg-300 rounded-lg transition-colors"
  href=`/projects/${slug}`
>
  <figure>
    <Image
      transition:name={`${slug}-image`}
      src={image}
      alt="project"
      class="aspect-video rounded-lg object-cover"
      width={800}
      height={450}
    />
  </figure>
  <div class="px-2 mt-2">
    <h4 class="text-xl font-semibold">{title}</h4>
    <p
      class="text-start text-sm truncate-text truncate-5 text-balance"
      set:html={replaceWithSpan(shortDescription, {
        className: "font-semibold",
      })}
    />
  </div>
</a>
