<a
  class="flex flex-col justify-center p-5 space-y-4 cursor-animated hover:dark:bg-dark-bg-300 hover:bg-light-bg-300 rounded-lg transition-colors"
  href="#"
>
  <img
    src="https://placehold.co/600x400"
    alt="project"
    class="aspect-video rounded-lg object-cover"
  />
  <div class="px-2 mt-2">
    <h4 class="text-xl font-semibold">Lorem ipsum dolor sit amet.</h4>
    <p class="text-start text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vel
      sapiente commodi aspernatur, iusto nobis dolore blanditiis facere maxime
      obcaecati!
    </p>
  </div>
</a>
